.best {
  background-image: url('../img/bg/best-bg.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__title--best {
  color: $dark;
  padding: 0;
  margin-bottom: rem(30px);
}

.best__list {
  display: flex;
  justify-content: center;

  @include phones {
    flex-direction: column;
  }
}

.best__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: rem(17px);
  text-align: center;
  flex: 1;

  @include phones {
    width: 100%;
    flex-direction: row;
    text-align: left;
  }

  &:first-child {
    margin-left: 0;
  }
}

.best__text {
  @include phones {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}

.best__logo {
  width: 100px;
  height: 100px;
  margin-bottom: rem(18px);

  @include phones {
    margin-right: rem(25px);
  }
}

.best__title{
  font-family: 'Lifehack', Arial, sans-serif;
  font-size: rem(24px);
  line-height: rem(28px);
  margin-bottom: rem(15px);
}

p {
  font-family: 'Ubuntu', Arial, sans-serif;
  color: $grey;
  font-size: rem(14px);
  line-height: rem(24px);
  font-weight: 300;
}