.best {
  background-image: url('../img/bg/best-bg.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__title--best {
  color: $dark;
  padding: 0;
  margin-bottom: rem(30px);

  @include phones {
    margin-bottom: rem(20px);
    font-size: rem(64px);
  }
}

.best__list {
  display: flex;
  justify-content: center;

  @include phones {
    flex-direction: column;
  }
}

.best__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: rem(17px);
  text-align: center;
  flex: 1;

  &:first-child {
    margin-left: 0;
  }

  @include phones {
    width: 100%;
    flex-direction: row;
    text-align: left;
    margin-left: rem(19px);
    margin-bottom: rem(70px);

    &:first-child {
      margin-left: rem(19px);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.best__text {
  @include phones {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 70%;
    padding-left: rem(10px);
  }
}

.best__logo {
  width: rem(100px);
  height: rem(100px);
  margin-bottom: rem(18px);

  @include phones {
    margin-right: rem(25px);
  }
}

.best__logo-pic {

  @include phones {
    width: rem(100px);
    height: rem(100px);
  }
}

.best__title{
  font-family: 'Lifehack', Arial, sans-serif;
  font-size: rem(24px);
  line-height: rem(28px);
  margin-bottom: rem(15px);

  @include phones {
    font-size: rem(28px);
    margin-bottom: rem(5px);
  }
}

p {
  font-family: 'Ubuntu', Arial, sans-serif;
  color: $grey;
  font-size: rem(14px);
  line-height: 1.42;
  font-weight: 300;
}