.best {
  background-image: url('../img/bg/best-bg.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__title--best {
  color: $dark;
  padding: 0;
  margin-bottom: rem(30px);
}

.best__list {
  display: flex;
  justify-content: center;
}

.best__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 17px;
  text-align: center;
  flex: 1;

  &:first-child {
    margin-left: 0px;
  }
}

.best__logo {
  width: 100px;
  height: 100px;
  margin-bottom: 18px;
}

.best__title{
  font-family: 'Lifehack', Arial, sans-serif;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 15px;
}

p{
  font-family: 'Ubuntu', Arial, sans-serif;
  color: #7e7c7b;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}
