.burger__wrapper{
	display: flex;
	align-content: center;
	justify-content: center;
	width: 55%;
	overflow: hidden;
	height: 100%;

	@include tablets {
		width: 85%;
		text-align: center;
		height: auto;
}

@include tablets {
	width: 85%;
	text-align: center;
	height: 85%;
}

}

.arrow__left, .arrow__right{
	display: flex;
	align-items: center;
	justify-content: center;
}

.arrow__left-pic{
	transform: rotate(90deg);

	&:hover{
		transform: translateY(-50%) rotate(90deg) scale(1.2);
		transition: .4s;
	}
}

.arrow__right-pic{
	transform: rotate(-90deg);

	&:hover{
		transform: translateY(-50%) rotate(-90deg) scale(1.2);
		transition: .4s;
	}
}

.burger{
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to bottom, #f9b43b 26%, #eb8c38 52%, #f9b43b 100%);
	
	&__list {
		display: flex;
		position: relative;
		width: 100%;
	}

	&__item{
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		min-width: 100%;

		@include tablets {
			flex-direction: column;
			align-items: center;
			justify-content: center;
	}
}

.burger__item--title{
	font-family: 'Gagalin', Arial, sans-serif;
	font-size: rem(72px);
	text-transform: uppercase;
	color: #fff;
	line-height: 0.9;
	margin-bottom: rem(40px);

	@include tablets {
		margin-top: 0;
  }

	@include phones {
		font-size: rem(50px);
  }
}

.burger__item--left{
	width: 50%;
	padding-top: rem(77px);
	margin-right: rem(-14px);

	@include tablets {
		width: 100%;
		margin-bottom: rem(25px);
	}
}

.burger__desc{
	position: absolute;
	width: rem(90px);
	height: rem(90px);
	top: 19.5%;
    left: 1%;
	z-index: 1;
	background: rgba(228, 80, 40, 0.4) url(../img/icons/burger.svg) no-repeat top 14px center;
	border-radius: 5px;
	transition: background-color .3s ease-out;
	display: flex;
  justify-content: center;

	@include tablets {
		top: 0%;
    right: 74%;
    bottom: auto;
    left: auto;
	}
	
	@include phones {
		top: 0%;
		right: 72%;
	}

	&-title{
		position: absolute;
    bottom: rem(10px);
    font-family: 'Gagalin', Arial, sans-serif;
    font-size: rem(14px);
    line-height: 1;
    text-align: center;
    color: #fff;
		cursor: pointer;

		@include phones {
			top: 80%;
		}
	}

	&:hover{
		background-color: #e45028;
	}
}

.burger__kcal{
	position: absolute;
	opacity: .5;
	bottom: 13%;
    left: 1%;

	@include tablets {
	top: 0%;
  left: 76%;
  }
}

.burger-kcal__num, .burger-kcal__unit{
	font-family: 'Gagalin', Arial, sans-serif;
	font-size: 20px;
	color: #fff;
}

.burger-kcal__num{
	top: 40%;
	right: 19%;
	position: absolute;
	
	@include tablets {
		top: 4.5%;
		right: 20%;
	}
	
	@include phones {
		top: 6.5%;
		right: 20%;
	}
}

.burger-kcal__unit{
	top: 90%;
	right: 11%;
	position: absolute;

	@include tablets {
		top: 11%;
    left: 16%;
	}
	
	@include phones {
		top: 14%;
	}	
}

.burger__item--pic{
	max-width: 100%;

	@include phones {
		width: 85%;
	}
}

.burger__item--right{
	width: 50%;
	
	@include tablets {
		width: 100%;
	}

	p{
		margin-top: 0;
		margin-bottom: rem(20px);
		font-family: 'Ubuntu', Arial, sans-serif;
		font-weight: 300;
		font-size: rem(14px);
		line-height: 1.85;
		color: #fff;
		padding-right: 15%;

		@include tablets {
			width: 100%;
			padding-right: 0;
		}
	}

}

.burger__item--order{
	display: flex;
	align-items: baseline;

	@include tablets {
		justify-content: center;
		width: 100%;
	}
	
	@include phones {
		align-items: center;
	}
}

.burger__item--price{
	font-family: 'Gagalin', Arial, sans-serif;
	font-size: rem(72px);
	line-height: 1;
	color: #e45028;
	margin-right: rem(25px);

	&--currency{
		font-size: rem(30px);
	}

	@include phones {
		font-size: rem(50px);
	}
}

.ingredients{

	&__list{
		position: absolute;
		left: rem(90px);
		color: #000;
		width: auto;
		border-radius: 5px;
		background-color: white;
		display: none;
		padding: rem(24px);
		white-space: nowrap;
		transition: .3s;

		.beef{

			&:before{
				background-image: url(../img/icons/beef.svg);
			}
				
		}

		.bread{

			&:before{
				background-image: url(../img/icons/buns.svg);
			}
					
		}

		.salad{

			&:before{
				background-image: url(../img/icons/salad.svg);
			}
					
		}

		.sauce{

			&:before{
				background-image: url(../img/icons/sauce.svg);
			}
					
		}

		.cucumber{

			&:before{
				background-image: url(../img/icons/cucumber.svg);
			}
					
		}

		.cheese{

			&:before{
				background-image: url(../img/icons/cheese.svg);
			}
					
		}
	
	}

	&__item{
		display: flex;
		align-items: center;
    justify-content: space-between;
    margin-bottom: rem(10px);
	}


	&__desc{

		display: inline-flex;
		align-items: center;
		margin-right: rem(60px);

		&:before{
			content: '';
			display: flex;
			width: 50px;
			height: 40px;
			margin-right: 20px;
			background-repeat: no-repeat;
			background-position: center;
		
		}
	}
}
}
.burger__desc:hover .ingredients__list {
	display:block;
	opacity: .9;
}