.hero {
  background-image: url('../img/bg/hero_bg.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: rem(10px);

  @include tablets {
    padding-top: rem(20px);
    padding-right: rem(34px);
    padding-left: rem(24px);
  }	
}

.header__logo {
  height: rem(67px);
  margin-right: auto;
}

.logo__img {
  height: rem(69px);
}

.nav {
  margin-right: rem(12px);

  &__list {
    margin: 0;
    padding: 0;

    @include tablets {
      display: none;
    }	
  }
}

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;

  &:after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    @include circle(rem(4px), #fff);
    margin: 0 rem(14.6px);
  }

  &:last-child:after {
    display: none;
  }
}

.nav__link {
  color: #ffffff;
  font-size: rem(13px);
  font-weight: 400;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  transition: .5s;
  &:hover {
    text-decoration: underline;
  }
}

.hero__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__content {
  width: 100%;
  display: flex;
  //flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 17%;

  @include tablets {
    justify-content: center;
    flex-direction: column;
  }	
}

.hero__img, .hero__description {
  flex-basis: 50%;
  display: flex;
}

.hero__img {
  padding-left: rem(19px);

  @include tablets {
    margin-bottom: rem(20px);
    padding-left: 0;
  }
}

.hero__img-pic {
  max-width: 95%;
}

.hero__description {
  flex-direction: column;
  justify-content: center;
  padding-left: rem(9px);
  padding-top: rem(79px);

  @include tablets {
    padding: 0;
    text-align: center;
  }
}

.section__title {
  color: $yellow;
  font-family: 'Gagalin';
  font-size: rem(72px);
  font-weight: 300;
  line-height: 1.42;
  margin: 0;
  margin-bottom: rem(10px);
}

.hero__description-text {
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: rem(65px);
  font-weight: 400;
  line-height: 1;
}

.arrow__scroll {
  position: absolute;
  left: 49%;
  bottom: rem(38px);
  display: block;
}

.hamburger-menu-link{
  vertical-align: middle;
  position: relative;
  height: 1.375rem;
  align-items: center;
  margin-left: 1.875rem;
  display: none;

  @include tablets {
    display: flex;
  }
}

.hamburger-menu-link__bars {
	&, &:before, &:after {
		background: #fff;
		width: rem(24px);
		height: rem(5px);
		border-radius: rem(3px);
	}

	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
	}

	&:before {
		top: 0;
	}

	&:after {
		bottom: 0;
	}
}