.map {
  background-repeat: no-repeat;
  background-size: cover;
	position: relative;
	
	&__footer {
		display: flex;
		height: rem(60px);
		position: absolute;
		left: 0;
    right: 0;
		bottom: 0;
		background: url('../img/bg/footer_bg.jpg') no-repeat center;
		background-size: cover;
		
		@include phones {
			padding: rem(20px) 0;
			height: rem(115px);
			text-align: center;
		}
	}
}

.footer_container {
	flex-direction: row;
	justify-content: space-between;

	@include tablets {
		padding: 0 rem(24px);
	}

	@include phones {
		flex-direction: column;
	}
}

.contacts {

	&__street {
		font-family: 'Ubuntu', Arial, sans-serif;
		font-weight: 300;
		font-size: rem(14px);
		font-style: normal;
    color: #fff;
	}

	&__phone-number {
		font-family: 'Ubuntu', Arial, sans-serif;
    font-size: rem(14px);
		font-weight: 700;
		font-style: normal;
		color: $orange;
		padding-left: rem(22px);
		position: relative;

		&:before {
			width: rem(14px);
			height: rem(17px);
			background-image: url(../img/icons/phone.svg);
			background-repeat: no-repeat;
			background-position: center;
			position: absolute;
			content: "";
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			display: block;
		}
	}
}

.social {
	text-align: right;
	height: rem(21px);

	&__item {
		display: inline-block;
		vertical-align: middle;
		margin-left: rem(20px);

		&:first-child {
			margin-left: 0;
		}
	}
}

.social__link {
	display: inline-block;
  width: rem(20px);
  height: rem(20px);
  opacity: .3;
	transition: opacity .4s ease-out;
	
	&:hover {
		opacity: 1;
	}
	
	&-pic {
		width: 100%;
		height: 100%;
	}
}

.yandex__map {
	position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: rem(60px);
  background: #aaaaaa;
}