.review {
	display: flex;
	height: 100vh;

  &__list {
		display: flex;
		flex-flow: wrap;
  }
  
  &__item {
		flex-basis: 25%;
		height: 50%;

		@include tablets {
			flex-basis: 50%;
			height: 25%;
		}
	}

	&__logo {
		position: relative;
		width: 100%;
		height: 100%;

		@include tablets {
			width: 100%;
			height: 100%;
		}
	}

	&__logo-pic {
		width: 100%;
		height: 100%;
		filter: grayscale(100%);

		@include tablets {
			width: 100%;
			height: 100%;
		}
	}

	&__title {
		margin-bottom: rem(25px);
    font-family: 'Gagalin', Arial, sans-serif;
    font-size: rem(14px);
    line-height: 1;
		color: #fff;
		
		@include phones {
			font-size: rem(24px);
			line-height: 1.42;
		}
	}

	&__text {
		margin-bottom: rem(10px);
    font-family: 'Ubuntu', Arial, sans-serif;
    font-size: rem(14px);
		line-height: rem(24px);
		font-weight: 300;
		color: #fff;
		
		@include phones {
			display: none;
		}
	}

	&__btn {
		display: inline-block;
    padding: 0 rem(14px);
		font-family: 'Ubuntu', Arial, sans-serif;
		font-weight: 500;
    font-size: rem(13px);
    line-height: rem(35px);
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    background: #2f3234;
    border: none;
    border-radius: rem(5px);
		transition: background-color .2s ease-out;
		
		&:hover {
			background: #202324;
		}

		@include phones {
			display: none;
		}
	}

	&__btn-phone {
		display: none;
		
		&:hover {
			background: #202324;
		}

		@include phones {
			display: inline-block;
			padding: 0 rem(14px);
			font-family: 'Ubuntu', Arial, sans-serif;
			font-weight: 500;
    	font-size: rem(13px);
    	line-height: rem(35px);
    	text-decoration: none;
   		color: #fff;
    	text-transform: uppercase;
    	background: #2f3234;
    	border: none;
    	border-radius: rem(5px);
			transition: background-color .2s ease-out;
		}
	}
}

.review__hover {
	position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 17% 7% 0;
  background: rgba(20, 20, 20, 0.7);
  transform: scale(0.9);
  opacity: 0;
	transition: .2s ease-out;
	
	@include tablets {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 0 15%;
	}
}

.review__logo:hover .review__hover {
	transform: scale(1);
	opacity: 1;
}