.review {
	display: flex;
	height: 100vh;

  &__list {
		display: flex;
		flex-flow: wrap;
  }
  
  &__item {
		flex-basis: 25%;
		height: 50%;
	}

	&__logo {
		position: relative;
		width: 100%;
	}

	&__logo-pic {
		width: 100%;
		height: 100%;
		filter: grayscale(100%);
	}

	&__title {
		margin-bottom: 25px;
    font-family: 'gagalin', Arial, sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #fff;
	}

	&__text {
		margin-bottom: 10px;
    font-family: 'Ubuntu', Arial, sans-serif;
    font-size: 14px;
		line-height: 24px;
		font-weight: 300;
    color: #fff;
	}

	&__btn {
		display: inline-block;
    padding: 0 14px;
		font-family: 'Ubuntu', Arial, sans-serif;
		font-weight: 500;
    font-size: 13px;
    line-height: 35px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    background: #2f3234;
    border: none;
    border-radius: 5px;
		transition: background-color .2s ease-out;
		
		&:hover {
			background: #202324;
		}
	}
}

.review__hover {
	position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 17% 7% 0;
  background: rgba(20, 20, 20, 0.7);
  transform: scale(0.9);
  opacity: 0;
  transition: .2s ease-out;
}

.review__logo:hover .review__hover {
	transform: scale(1);
	opacity: 1;
}