.wrapper {
  width: 100%; 
  height: 100vh;
}

.maincontent {
  height: 100vh;
  min-height: 650px;
}

.container {
  width: 100%;
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include tablets {
    width: 750px;
  }

  @include phones {
    width: 95%;
  }
}

.section {
  height: 100vh;
  background-color: rgba(0,0,0,0.31);
  min-height: 650px;

  @include tablets {
    
  }
}

.order-link {
  min-width: rem(98px);
  padding: rem(10px) rem(17px);
  border-radius: 5px;
  background-color: $orange;
  color: #fff;
  text-decoration: none;
  font-size: rem(13px);
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  transition: .5s;
  &:hover {
    background-color: darken($orange, 7%);
  }
}